<p>
    Given the grade percentage for the course, calculate and return the letter grade that would appear in the Ryerson’s grade transcript, as defined on the page <a target="_blank" href="https://www.torontomu.ca/studentguide/grades/#grades">Ryerson Grade Scales</a>. The letter grade should be returned as a string that consists of the uppercase letter followed by the possible modifier "+" or "-". 
</p>

<p>
    <strong>Input:</strong> Grade percentage as {% if is_js %}a number{% else %}an integer{% endif %}.
</p>

<p>
    <strong>Output:</strong> The letter grade as a string.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
    <p>
        <i>The initial code contains grade and percentage sequences. Feel free to change them in any way.</i>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Precondition:</strong>
    <i>argument can be from 0 to 150.</i>
</p>

<p>
    <i>The mission was taken from Python CCPS 109 Fall 2018. It is taught for Ryerson Chang School of Continuing Education by <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i>
</p>


